.required {
  color: red;
}
.round-button {
  border-radius: 22.5px;
  width: 140px;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.form-check-input {
  margin-top: 9px;
}
.switch-element {
  background-color: #f8f9fa;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  flex-direction: column;
}
.custom-switch {
  align-self: flex-end;
}
